*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

@media (min-width: 1280px) {
  
    header{
        display: flex;
        flex-direction: column;
    }
    
    .top-menu{
        background-color: #394D60;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 30rem;
        padding-right: 30rem;
    }
    
    .top-menu div{
        align-items: center;
        display: flex;
        width: 30rem;
    }
    
    .top-menu div:last-child{
        color: white;
    }
    
    .top-menu div *{
        margin: 0 .2rem 0 .2rem;
    }
    
    .top-menu div h3{
        color: white;
        font-size: 1.5rem;
        font-family: sans-serif;
        font-weight: 100;
    }
    
    .top-menu span{
        color: white;
        font-size: 1.5rem;
        font-family: sans-serif;
    }
    
    .top-menu div a{
        color: white;
        font-size: 1.5rem;
        font-family: sans-serif;
        text-decoration: none;
    }
    
    .top-menu div a span{
        color: #A1AC07;
        font-size: 1.5rem;
        font-family: sans-serif;
    }
    
    .main-menu{
        align-items: center;
        background-color: white;
        display: flex;
        justify-content: space-between;
        height: 10rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 30rem;
        padding-right: 30rem;
    }
    
    .main-menu img{
        height: 5rem;
        width: 20rem;
    }
    
    .main-menu div{
        align-items: center;
        display: flex;
        justify-content: space-around;
    }
    
    .main-menu div > img{
        height: 10rem;
        margin-right: 4rem;
        margin-top: -2.5rem;
        width: 10rem;
    }
    
    .main-menu div ul li{
        color: gray;
        display: inline-block;
        font-family: sans-serif;
        font-size: 1.7rem;
        margin: 0 1rem;
    }
    
    .main-menu a{
        color: gray;
        text-decoration: none;
    }
    
    .main-menu a:visited{
        text-decoration: none;
    }
    
    .page-title{
        align-items: center;
        display: flex;
        justify-content: center;
        background-image: url("../img/page-title-bg.png");
        background-size: cover;
        background-repeat: no-repeat;
        height: 30rem;
        padding-left: 30rem;
        padding-right: 30rem;
        width: 100%;
    }
    
    .page-title h1{
        color: white;
        font-family: sans-serif;
        font-size: 5rem;
        font-weight: 900;
    }
    
    .page-highlight{
        align-items: flex-start;
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 20rem;
        padding-left: 30rem;
        padding-right: 30rem;
        width: 100%;
    }
    
    .page-highlight h2{
        color: orangered;
        font-size: 4rem;
        font-family: sans-serif;
        margin-bottom: 1rem;
    }
    
    .page-highlight p{
        color: darkgreen;
        font-size: 2rem;
        font-family: sans-serif;
    }
    
    .gray-container{
        align-items: center;
        background-color:#F9F8F8;
        border-top: solid 0.2rem lightgreen;
        display: flex;
        justify-content: space-around;
        padding-top: 7rem;
        padding-left: 30rem;
        padding-right: 30rem;
        padding-bottom: 7rem;
    }
    
    .gray-container img{
        border: solid #50AAFE 0.3rem;
        height: 20rem;
        width: 30rem;
    }
    
    .gray-container div{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 60rem;
    }
    
    .gray-container div h2{
        color: #50AAFE;
        font-family: sans-serif;
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    
    .gray-container div p{
        color: darkgray;
        font-family: sans-serif;
        font-size: 1.5rem;
        line-height: 2rem;
    }
    
    br{
        line-height: 3rem;
    }
    
    .gray-container div a{
        color: #50AAFE;
        font-family: sans-serif;
        font-size: 1.5rem;
        line-height: 2rem;
        text-decoration: none;
    }
    
    
    .white-container{
        align-items: center;
        background-color:#FFF;
        border-top: solid 0.2rem lightgreen;
        display: flex;
        justify-content: space-around;
        flex-direction: row-reverse;
        padding-top: 7rem;
        padding-left: 30rem;
        padding-right: 30rem;
        padding-bottom: 7rem;
    }
    .white-container img{
        border: solid #50AAFE 0.3rem;
        height: 20rem;
        width: 30rem;
    }
    
    .white-container div{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 60rem;
    }
    
    .white-container div h2{
        color: #50AAFE;
        font-family: sans-serif;
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    
    .white-container div p{
        color: darkgray;
        font-family: sans-serif;
        font-size: 1.5rem;
        line-height: 2rem;
    }
    
    
    .white-container div a{
        color: #50AAFE;
        font-family: sans-serif;
        font-size: 1.5rem;
        line-height: 2rem;
        text-decoration: none;
    }
    
    .relatedcontent-section{
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-bottom: 4rem;
        padding-top: 4rem;
    }
    
    .relatedcontent-section p{
        font-family: sans-serif;
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 1rem;
        text-align: center;
    }
    
    .relatedcontent-section div{
        align-items: center;
        display: flex;
        justify-content: space-around;
    }
    
    .relatedcontent-section a{
        color: #519ACF;
        font-family: sans-serif;
        font-size: 1.5rem;
        font-weight: bold;
        text-decoration: none;
        margin: 0.2rem;
    }
    
    footer{
    
    }
    
    .top-footer{
        background-color: #939DA4;
        display: flex;
        justify-content: space-around;
        padding: 1rem 0;
    }
    
    .top-footer > div{
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
    
    .top-footer > div a{
        color: #fff;
        font-family: sans-serif;
        font-weight: bold;
        margin: 0 1rem ;
        text-decoration: none;
    }
    
    .top-footer div span{
        color: #fff;
        font-family: sans-serif;
        margin: 0 1rem ;
        text-decoration: none;
    }
    
    .top-footer div img{
        width: 2.5rem;
    }

    .top-footer div:last-child{
        display: flex;
        justify-content: space-between;
    }

    .top-footer div:last-child img{
        height: 2rem;
        margin-left: 0.8rem;
        width: 2rem;
    }

    .bottom-footer{
        align-items: center;
        background-color: #415A69;
        display: flex;
        justify-content: center;
        padding: 0.7rem 0 0.7rem 0;
    }

    .bottom-footer span:first-child{
        color: #6E8346;
        font-family: sans-serif;
    }

    .bottom-footer span{
        color: #FFF;
        font-family: sans-serif;
        margin: 0 0.3rem;
    }

    .bottom-footer a{
        color: #FFF;
        font-family: sans-serif;
        text-decoration: none;
    }
    
}

@media (min-width: 320px) and (max-width: 480px) {
  
    /* CSS */
    
  }

